html, body {
	height: 100%;
	margin: 0;
}
#fullscreen {
	min-height: 110%;
	background-image: url(/static/img/bg.jpeg);
	background-size: 100%;
	bottom: -20px;
}

#navigation {
	background-color: white;
}

#container {
	color: white;
	text-align: center;
	margin-top: 10%;
	text-shadow: 2px 2px 5px #120000;
}

#button {
	text-shadow: none;
}

.registration-container {
	width: 400px;
	margin-left: auto;
	margin-right: auto;
}

.centered {
	margin: 0 auto;
	width:30%;
	margin-top: 20px;
}
.centered h2 {
	color:black;
	text-align: center;
}
@media (max-width: 720px) {
	.centered {
		margin: 0 auto;
		width:70%;
	}
}

.main_button {
	width: 100%;
}

#main_text {
	background: white;
	border: 2px solid black;
}

.reg_form {
	box-shadow: 0 0 50px #b4b4b4;
	padding: 10px;
	background: white;
}

#body_cont {
	text-align: center;
}

#login {
	margin-top: 50px;
}