{% extends 'base.html' %}
{% block content %}

    <div class="jumbotron" id="fullscreen">
      <div class="container" id="container">
        <h1>Get productive</h1>
        <p>Hey! This is a simple app with very basic elements that shows you how to make a todo app in flask. Nothing much</p>
        <p><a class="btn btn-primary btn-lg" id="discover" href="#" role="button">Discover</a></p>
      </div>
    </div>

<div clsas="container" id="body_cont">
	<br> <br>
   	<p>Here you can register, or if you already have account you can hit upper right link to get to the login page.</p>
	
	{% if session.logged_in %}
	<a href="{{url_for('show_todos')}}">Go to todos</a>
	{% else %}
	<form action="{{ url_for('user_register') }}" method='POST' >
<input type=hidden name=_csrf_token value="{{ csrf_token() }}">	
		<div class="centered reg_form">
		<h2>REGISTER</h2>
		{% if error != None %}
		<p> {{ error }}</p>
		{% endif %}
		<br>
	<div class="form-group">
		{{ form.username(class='form-control', id='inputdefault', placeholder='username') }}
	</div>
	<div class="form-group">
		{{ form.email(class='form-control', id='inputdefault', placeholder='email') }}
	</div>
	<div class="form-group">
		{{ form.password(class='form-control', id='inputdefault', placeholder='password') }}
	</div>
	<div class="form-group">
		{{ form.password_again(class='form-control', id='inputdefault', placeholder='password again') }}
	</div>
	<button type="submit" class="btn btn-primary btn-lg main_button">GET STARTED!</button>
	</div>
</form>
	{% endif %}
</div>

{% endblock %}