{% extends 'base_login.html' %}
{% block todos %}

<div class="container">
{% if session.logged_in %}

	<a href="{{ url_for('logout') }}">Logout</a>
	
<div class="centered form_container">
<form action="{{ url_for('add_todo') }}" method='post'>
<input type=text name=todo id="todo-field" class="form-control" placeholder="Type todo and hit ENTER">
</form>
</div>

	
	<br><br>
	<div class="centered form_container" id="todos">
	{% for todo in uname.todos %}
		{% if todo.is_done == 0 %}
			<p class="undone" id="todo" name='{{ todo.id }}'>{{ todo.body }}</p>
		{% endif %}
	{% endfor %}
	</div>

	<br><br><br><br>

<h2 style="color:#de0a0a;">DONE</h2>
<a href="{{ url_for('clear_todos') }}" id="clear">(clear)</a>

	<div class="centered form_container" id="dones">
	{% for done in uname.todos %}
		{% if done.is_done == 1 %}
			<p class="done" id="todo" name='{{ done.id }}'>{{ done.body }}</p>
		{% endif %}
	{% endfor %}
	</div>

{% endif %}
</div> <!-- Container end -->
{% endblock %}
